port {{port}}
proto {{proto}}
dev tun-ovpn-ui
dev-type tun

server {{subnet}} {{subnet_mask}}
topology subnet
max-clients 255
keepalive 15 120

auth SHA256
auth-nocache
cipher AES-256-GCM
data-ciphers AES-256-GCM:AES-128-GCM:AES-256-CBC

persist-key
persist-tun

status /data/logs/openvpn-status.log 10
log-append /data/logs/openvpn.log
verb 3

ifconfig-pool-persist /data/ipp.txt
client-config-dir /data/ccd

ca /data/pki/ca.crt
cert /data/pki/issued/server.crt
key /data/pki/private/server.key
dh /data/pki/dh.pem
crl-verify /data/pki/crl.pem
tls-auth /data/pki/tc.key 0

explicit-exit-notify 1
